@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

#banner {
    width: 50vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #ffbb00, #ff137d), url("../assets/img/image.jpg");
    background-size: cover;
    background-blend-mode: lighten;
}

.form-container {
    width: 50vw;
    height: 100vh;
    /* border: 5px solid red; */
    position: relative;
}
.form {
    width: 60%;
    height: 70%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 10%;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    font-size: 1em;
}

.form-btn {
    margin: auto;
    width: 100%;
    background: linear-gradient(to left, #ffc62a, #ff62c6);
    color: #fff;
    text-align: center;
    border: none;
    height: 2.5em;
    border-radius: 50px;
}

body {
    font-family: "Montserrat", sans-serif;
}

label {
    margin-bottom: 20px;
}

input {
    border: none;
    background-color: rgb(236, 236, 236);
    color: rgb(126, 126, 126);
    padding: 10px;
    height: 2.5em;
}

form {
    margin-top: 2em;
}
input:focus,
input[type]:focus {
    outline: 0 none;
}
h1 {
    background: -webkit-linear-gradient(left, rgba(255, 93, 177, 1) 0%, rgba(248, 132, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#passForgot {
    margin-top: 2em;
    padding-top: 10px;
    text-align: center;
    border-top: 2px solid rgb(211, 211, 211);
}

.btn-container {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 0.9em;
    color: rgb(167, 167, 167);
}
