@import "../abstracts/variables";
@import "../abstracts/mixins";

// -- ASIDE --
#logo {
  text-align: center;
  a img {
    width: 80%;
  }
}

#hamburger {
  display: none;
}

.container aside {
  height: 100%;
  @include flex-aside(column, flex-start);
  background-color: $white;
  position: relative;
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.1);
}

ul li a {
  transition: color 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $orange
    
  }
}

%nav-li-style {
  li {
    width: auto;
    justify-content: center;
    padding-top: 0.625em;
  }
}

.nav {
  @include flex-aside(column, center);
  margin-left: 10%;
  margin-right: 5%;

  #nav-events {
    width: 100%;
    font-size: 1.1em;
    @extend %nav-li-style;
  }
  #nav-profile {
    margin-top: 5vw;
    @extend %nav-li-style;
  }
}

.nav-title {
  font-weight: bold;
  font-size: 1.1em;
  background: -webkit-linear-gradient(left, $pink 0%, $orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
