@import "../abstracts/variables";

// -- FOOTER --
footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 15px;
  @include gradient(to right, $pink, $yellow, $orange, $purple);
  animation: animation 4s ease-in-out infinite;
  background-size: 200%;
}

@keyframes animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
