@import "../abstracts/variables";
@import "../abstracts/mixins";

// Disposición grid en escritorio
.container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 13em 1fr;
  grid-template-rows: 1fr 100% 100%;
  grid-template-areas:
    "aside    header"
    "aside    main"
    "footer   footer";
}

// Nombre de los grid areas
@include grid-areas(header, aside, main, footer);
