
@import "../abstracts/mixins";

// -- HEADER --
header {
  height: 3em;
  margin-top: 10px;
  @include flex-header(row, nowrap, center);
  justify-content: flex-end;
  padding-right: 2em;

  #notifications {
    margin-right: 30px;
    width: auto;
    @include flex-header(row, nowrap, center);
  }

  #profile {
    @include flex-header(row, nowrap, center);
    position: relative;
    width: auto;
  }

  .container-avatar {
    width: 50px;
    height: 50px;
    border-radius: 900px;
    overflow: hidden;
  }
  .container-avatar img {
    width: 100%;
    height: 100%;
  }
}
