@import "../abstracts/mixins";
@import "../abstracts/variables";

.pre-loader-container {
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .pre-loader {
        position: absolute;
        top: 52%;
        left: 50%;

        span {
            height: 1.3em;
            width: 1.3em;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            filter: brightness(1.2);
            border-radius: 50%;
            animation: wave 2s ease-in-out infinite;

            &:nth-child(1) {
                @include loader-children(-4em, 0s, rgb(255, 150, 0), rgb(255, 142, 21));
            }

            &:nth-child(2) {
                @include loader-children(-2em, 0.1s, rgb(255, 125, 20), rgb(255, 109, 47));
            }
            &:nth-child(3) {
                @include loader-children(0em, 0.2s, rgb(255, 85, 56), rgb(255, 65, 77));
            }
            &:nth-child(4) {
                @include loader-children(2em, 0.3s, rgb(255, 48, 89), rgb(255, 28, 110));
            }
        }
    }
}

@keyframes wave {
    0%,
    75%,
    100% {
        transform: translateY(0) scale(1);
    }
    25% {
        transform: translateY(1em);
    }
    50% {
        transform: translateY(-1.1em) scale(1.1);
    }
}
