@import "../abstracts/variables";

// -- CONFIGURACIÓN GLOBAL --
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
  &:visited {
    color: $black;
  }
}

li {
  list-style: none;
}

// Barra de scroll
main {
  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
  }
  &::-webkit-scrollbar-track {
    @include gradient(90deg, #434343, #434343 1px, #111 0, #111);
    border-radius: 10px;
  }
}
