@import "./variables";
@import "./mixins";

// Responsive Movil
@include media-query(small) {
  .container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 1fr 100%;
    grid-template-areas:
      "header    header"
      "aside     aside"
      "main      main";
    overflow-y: auto;

    header {
      @include header-style;
      padding-right: 0;
    }

    // EL aside IRÁ EN HORIZONTAL
    aside {
      height: 5em;
      text-align: center;
      box-shadow: none !important;

      #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        a img {
          width: 13em;
        }
      }

      .nav {
        display: none;
        padding-bottom: 2em;
      }
    }

    #hamburger {
      display: block;
      margin-left: 0.5em;
    }

    main {
      justify-content: center;
      margin-top: 2em;
      

      #events {
        justify-content: center;
        align-items: center;
      }

      .card-container {
        box-shadow: none;
        height: fit-content;
      }
    }
  }
}

// Responsive Movil
@include media-query(medium) {
  .container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr 1fr 100%;
    grid-template-areas:
      "header    header"
      "aside     aside"
      "main      main";
    overflow-y: auto;

    header {
      @include header-style;
    }

    //EL aside IRÁ EN HORIZONTAL
    aside {
      height: 5em;
      text-align: center;
      box-shadow: none !important;

      #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        a img {
          width: 13em;
        }
      }

      .nav {
        display: none;
        padding-bottom: 2em;
      }
    }

    #hamburger {
      display: block;
      margin-left: 0.5em;
    }

   
    main {
      justify-content: center;
      margin-top: 2em;
      
      .card-container {
        width: fit-content;
        box-shadow: none;
        height: fit-content;
      }
    }
  }
}
